<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806965653361-af7lsnl7f1igru96jcd9af13tsdsr8cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806965653361-af7lsnl7f1igru96jcd9af13tsdsr8cj</string>
	<key>API_KEY</key>
	<string>AIzaSyBesHPFyDS0tR1e8FUP0zJMH8xwdXZkqZo</string>
	<key>GCM_SENDER_ID</key>
	<string>806965653361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>riverside.SwiftNews</string>
	<key>PROJECT_ID</key>
	<string>swiftnews-3c1cc</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftnews-3c1cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806965653361:ios:89045aa46f8bae53</string>
	<key>DATABASE_URL</key>
	<string>https://swiftnews-3c1cc.firebaseio.com</string>
</dict>
</plist>